@import 'public/scss/colors';
.nav-header{
    background-color: $primary_color;
    display: flex;
    height: 100px;
    border: 0;
    position: relative;
    background-image: none;
    font-size: 13px;
    font-weight: 400;
    font-family: "Proxima Nova",-apple-system,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    -ms-user-select: none;
    user-select: none;
    justify-content: center;
    cursor: default;
    align-items: center;
    flex:1;
    .navbar {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
        height: auto;
        max-width: 1200px;
        flex:1;
        .navbar-brand {
            background-image: url(../assets/images/Logo_ML.png);
            height: 41px;
            top: 11px;
            width: 110px;
            background-repeat: no-repeat;
            background-position: left;
        }
        .form-inline {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-flow: row wrap;
            flex-flow: row wrap;
            -ms-flex-align: center;
            align-items: center;
            flex:1;
            .input-group {
                position: relative;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: wrap;
                flex-wrap: nowrap;
                flex:1;
                .input-group-prepend {
                    display: -ms-flexbox;
                    display: flex;
                    .input-group-text {
                        display: -ms-flexbox;
                        display: flex;
                        -ms-flex-align: center;
                        align-items: center;
                        padding: .375rem .75rem;
                        margin-bottom: 0;
                        font-size: 1rem;
                        font-weight: 400;
                        line-height: 1.5;
                        color: #495057;
                        text-align: center;
                        white-space: nowrap;
                        background-color: $light_grey;
                        border: 1px solid $light_grey;
                        border-top-right-radius: .25rem;
                        border-bottom-right-radius: .25rem;
                        &:hover{
                            cursor: pointer;
                        }
                    }
                }
                .form-control {
                    display: block;
                    width: 100%;
                    height: 41px;
                    padding: .375rem .75rem;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 1.5;
                    color: #495057;
                    background-color: $white;
                    background-clip: padding-box;
                    border: 1px solid $white;
                    border-top-left-radius: .25rem;
                    border-bottom-left-radius: .25rem;
                    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                    &:focus{
                        outline: none;
                    }
                }
            }
        }
    }
    .nav-bounds{
        height: auto;
        max-width: 1200px;
    }
}